name: Release

on:
  push:
    tags:
      - 'v*'

concurrency: release

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}
      ARTIFACTORY_REPO_USERNAME: ci
      ARTIFACTORY_REPO_SECRET: ${{ secrets.ARTIFACTORY_PASSWORD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.0

      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v2

      - name: GoReleaser Action
        uses: goreleaser/goreleaser-action@v5
        with:
            args: release --clean --parallelism=1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAP_GITHUB_TOKEN: ${{ secrets.TAP_GITHUB_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
