name: Release

on:
  push:
    tags:
      - 'v*'

concurrency: release

permissions:
  id-token: write
  contents: read

jobs:

  release:
    runs-on: ubuntu-latest
    env:
      ARTIFACTORY_REPO_USERNAME: ci
      ARTIFACTORY_REPO_SECRET: ${{ secrets.ARTIFACTORY_PASSWORD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.0

      - name: Test
        run: go test -v ./...

      - name: GoReleaser Action
        uses: goreleaser/goreleaser-action@v6
        with:
            args: build --clean --parallelism=1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          node-version: 22

      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm publish

